<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/moodTracker.css' />
    </head>
    <body>
        <%- include('navbar') %>
        <div id="mainContent">
            <h1>Mood Tracker</h1>
            <p>Track your daily mood</p>

            <form method="post" action="/moodTracker">
                <div class="moodSelector">
                    <button type="button" class="moodButton" data-mood="happy">&#x1F642;</button>
                    <button type="button" class="moodButton" data-mood="sad">&#x1F625;</button>
                    <button type="button" class="moodButton" data-mood="angry">&#x1F620;</button>
                    <button type="button" class="moodButton" data-mood="tired">&#x1F62A;</button>
                    <button type="button" class="moodButton" data-mood="excited">&#x1F600;</button>
                </div>

                <div id="todaysMood"></div>

                <input type="hidden" name="mood" id="selectedMood" />

                <textarea id="moodNote" name="notes" placeholder="Add a note..."></textarea>

                <button type="submit" id="moodSaveButton">Save</button>

                <div id="saveMessage" class="hidden"></div>
            </form>
            
            <ul>
                <% entries.forEach(entries => { %>
                    <li>
                        Mood: <%= entries.mood %> | 
                        Note: <%= entries.notes?.trim() ? entries.notes : 'No Note' %> | 
                        Date Submitted: <%= new Date(entries.submitted_at).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }) %>
                    </li>
                    
                <% }); %>
            </ul>

        </div>

        <script src="/scripts/moodTrackerScript.js"></script>
    </body>
</html>

