<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/search.css' />
</head>

<body>
  <%- include('navbar') %>
    <div id="mainContent">
      <h1 id="main_description">Search for events</h1>
      <!--
      -   action is the route we wanna run in this case it is -> /search -> /result
      -   method is GET to send as query string e.g. results?q=searchedinput
      -->
      <form id="form_search" action="/search/results" method="GET">
        <div class="search-wrapper">
          <input type="search" id="input_search" name="input_search" placeholder="search for an event here"
            value="<%= query %>">

          <button type="submit">search</button>

          <!--Category Checkboxes-->
          <div id="categories">
            <p>by category: </p>
            <!-- 
            -   no '<%%>' inside HTML <> tags - https://stackoverflow.com/questions/40210362/nested-ejs-tag-not-working
            -   Ternary operator for staying checked (condition ? do-if-true : do-if-false)
            -->
            <% if (!!categories && categories.includes("sport")) { %>
              <input type="checkbox" id="category_1" name="category" value="sport" onchange="this.form.submit()"
                checked>
              <label for="category_1">Sport</label>
              <% } else { %>
                <input type="checkbox" id="category_1" name="category" value="sport" onchange="this.form.submit()">
                <label for="category_1">Sport</label>
                <% } %>

                  <% if (!!categories && categories.includes("study")) { %>
                    <input type="checkbox" id="category_2" name="category" value="study" onchange="this.form.submit()"
                      checked>
                    <label for="category_2">Study</label>
                    <% } else { %>
                      <input type="checkbox" id="category_2" name="category" value="study"
                        onchange="this.form.submit()">
                      <label for="category_2">Study</label>
                      <% } %>

                        <% if (!!categories && categories.includes("social")) { %>
                          <input type="checkbox" id="category_3" name="category" value="social"
                            onchange="this.form.submit()" checked>
                          <label for="category_3">Social</label>
                          <% } else { %>
                            <input type="checkbox" id="category_3" name="category" value="social"
                              onchange="this.form.submit()">
                            <label for="category_3">Social</label>
                            <% } %>

                              <% if (!!categories && categories.includes("gaming")) { %>
                                <input type="checkbox" id="category_4" name="category" value="gaming"
                                  onchange="this.form.submit()" checked>
                                <label for="category_4">Gaming</label>
                                <% } else { %>
                                  <input type="checkbox" id="category_4" name="category" value="gaming"
                                    onchange="this.form.submit()">
                                  <label for="category_4">Gaming</label>
                                  <% } %>

          </div>
          <p id="text_output">
            <%= count %> Results for: '<%= query %>'
          </p>
        </div>
      </form>

      <!--
      -   Each row displayed as a flexbox
      -   Check lecture 5 for EJS syntax
      -->
      <ul>
        <% if (results.length> 0) { %>
          <% results.forEach((ev)=> { %>
            <li class="flex_row">
              <div class="box_image">
                <img src="/images/noImage.jpg" width="200" height="200" alt="Event image">
              </div>
              <div class="box_information">
                <p class="info_eventId hidden">
                  <%= ev.id %>
                </p>
                <p class="info_eventName">Event: <%= ev.name %>
                </p>
                <p class="info_eventSchedule">Schedule: <%= ev.date %>
                </p>
                <p class="info_eventTime">Time: <%= ev.schedule %>
                </p>
                <p class="info_eventLocation">Location: <%= ev.location %>
                </p>
                <p class="info_eventCategory">Category: <%= ev.category %>
                </p>

              </div>
              <div class="box_description">
                <p class="info_eventParticipants">Participants: <%= ev.participants %>
                </p>
                <p class="info_eventDescription">Description: <br><br>
                  <%= ev.description %>
                </p>
                <button class="btn_register" type="submit">Register</button>
              </div>
            </li>
            <% }); %>
              <% } else { %>
                <p>no events found</p>
                <% } %>
      </ul>
      <div id="popupCard" class="hidden">
        <div class="popup-content">
          <h2>Register</h2>
          <h3 id="card_title"></h3>
          <p id="card_ID" hidden></p>
          <p id="card_date"></p>
          <p id="card_schedule"></p>
          <p id="card_location"></p>
          <p id="card_description"></p>
          <div class="popup-buttons">
            <button id="btn_close">Close</button>
            <form id="registerForm" method="POST">
              <button id="btn_confirm" class="btn_confirm" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
      <script src="/scripts/search.js"></script>
</body>

</html>