<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Task Tracker</title>
        <link rel="stylesheet" href='/stylesheets/style.css'>
    </head>
    <body>
        <%- include('navbar') %>
        <div id="mainContent">
            <h1>Task Tracker</h1>
            <h2>Total Points: <%= totalPoints %></h2>

            <ul>
                <% tasks.forEach(task => { %>
                    <li>
                        <strong><%= task.name %></strong> - <%= task.points %> points
                        <% if (!task.completed) { %>
                            <form action="/taskBoard/completeTask" method="POST" style="display:inline;">
                                <input type="hidden" name="taskId" value="<%= task.task_id %>">
                                <button type="submit">Complete</button>
                            </form>
                        <% } else { %>
                            Completed!!
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>

    </body>
</html>